# Configuration file

armor {

    item_ACIAB {
        S:01.ID=abyssalcraft:cboots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_ACIAH {
        S:01.ID=abyssalcraft:chelmet
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_ACIAC {
        S:01.ID=abyssalcraft:cplate
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_ACIAP {
        S:01.ID=abyssalcraft:clegs
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


